[submodule "extern/rapidjson"]
	path = extern/rapidjson
	url = git@github.com:Tencent/rapidjson.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "extern/fmt"]
	path = extern/fmt
	url = git@github.com:fmtlib/fmt.git
